{namespace olaf.contact}

/**
 *
 * contact form
 *
 */
{template .show}

<html>
	<body>
		<h1>super marketplace</h1>
		
		<form method="post">
			<label for="message">Your message</label>
			<textarea name="message" id="message" rows="20"></textarea>
			
			<p>
			<input type="submit">
		</form>
	</body>
</html>

{/template}